[Unit]
Description=Run Homemon Telegram Bot
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/git/homemon
ExecStart=/home/pi/git/homemon/venv/bin/python /home/pi/git/homemon/run_bot.py
Restart=always
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/home/pi/git/homemon/logs/run_bot.log
StandardError=append:/home/pi/git/homemon/logs/run_bot_error.log

[Install]
WantedBy=multi-user.target
